<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327305834578-udiot4f2sfhc8ect7gfs4lo4vialrjqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327305834578-udiot4f2sfhc8ect7gfs4lo4vialrjqa</string>
	<key>API_KEY</key>
	<string>AIzaSyAi0CImWD3jaxaZzECbAi-fQNP1lGjsmMU</string>
	<key>GCM_SENDER_ID</key>
	<string>327305834578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sport.sportat</string>
	<key>PROJECT_ID</key>
	<string>sportat-a270f</string>
	<key>STORAGE_BUCKET</key>
	<string>sportat-a270f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327305834578:ios:07759db1d74497e9396f8b</string>
</dict>
</plist>